*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat",sans-serif;
   
    
} 
body{
    color:#152237;
    
}
#intro{
    font-weight: bold;
    font-size: 48px;
    text-transform: uppercase; 

}

h1{
    font-size: 20px;
    font-family: "Montserrat",sans-serif;
    text-transform: uppercase; 
}

h2{  
font-size: 36px;
font-weight: 800;
    text-transform: uppercase; 



}
h3{
    font-size: 28px;
    padding-top:7%; 
}



nav{
   width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #152237;
    color: white;
    padding: 0px 5%;
    height: 78px;
}
#burger-menu{
    display: none;
}
img{
    width: auto;
}

#logo{
    width:84px;
    padding-left:20px;

}
.button{
border-radius: 5px;

  border: none;
  color: black;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button-cta{
border-radius: 5px;
  border: none;
  color: white;
  background-color: #152237;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
    margin: auto;
  font-size: 16px;
}

a{
    text-decoration: none;
    color: white;
    font-family: "Montserrat",sans-serif;
}

/* #hero{
    display:flex;
    flex-direction: column;
    background: linear-gradient(90deg, rgba(68, 221, 138, 1) 19%, rgba(21, 183, 226, 1) 100%);
    padding:10%;
    opacity:1;
    align-items: center;
    text-align: center;
    gap: 10px;



} */
#hero{
    display:flex;
    flex-direction: column;
    background-image: linear-gradient(90deg, rgba(68, 221, 138, 0.7) 19%, rgba(21, 183, 226, 0.7) 100%), url('logo-klivio/bg-header.png');
    
    padding:8%;
    align-items: center;
    text-align: center;
    gap: 10px;
    



}
#main{
    position: absolute;
    width: 100%;
    opacity: 20%;
    top:85px;
    
}
#b2{
    background:linear-gradient(90deg, rgba(68, 221, 138, 1) 19%, rgba(21, 183, 226, 1) 100%); ;
}

#bar{
    background-color: #152237;
    border:solid #ffffff 1px;
    margin: 10%;
    width:26%;
    padding:10px;
    border-radius:5px;
    background-image: url(logo-klivio/icone.svg);
  background-repeat: no-repeat;
  background-position: 98% 50%;
    
}

 input::placeholder {
        color: white;
      }



#log{
    display: flex;
    gap:18px;
}

#button-bar{
    display: none;
}




#cards {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 50px; 
}
 


.card-element{
    position: relative;
    flex: 0.5;
    display:flex;
    flex-direction: column;
    gap:6px;

}



p{
    margin:0;
    width:100%;

}
#white-button{
background-color:black;
}

.card-img {
    /* position: absolute; */
    width: 305px;
    height: 206px;
    background-color: #44DD8A;
    border: 1px black;
    
}

.price{
position: absolute;
background-color: #152237;
border-radius: 20px;
width:120px;
height:30px;
color: white;
display: flex;
align-items: center;
column-gap: 13px;
top: 190px;
left: 175px;


}
.low-price{
    font-size:20px;
    font-weight: 700;
   padding-left: 10px;
}

.high-price{
    font-size: 10px;
    font-weight: 400;
    text-decoration: line-through;
}
.all-cards {
padding: 62px 94px;
    display: flex;
    flex-direction: column;
    gap: 64px;
    /* flex-wrap: nowrap; */
    }


.all-cards2 {
padding: 62px 94px;
    display: flex;
    flex-direction: column;
    gap: 64px;
    background-color: #152237;
    color: white;
    }
.all-cards p,.all-cards2 p{
    width:77%;
}


.button-cta2{
border-radius: 5px;
  border: none;
  color:black;
  background-color: white;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
    margin: auto;
  font-size: 16px;
}

.price2{
position: absolute;
background-color: white;
border-radius: 20px;
width:120px;
height:30px;
color:#152237;
display: flex;
align-items: center;
column-gap: 13px;
top: 190px;
left: 175px;

}


.avis-client{
    display:flex;
    flex-direction: column;
    /* padding:20px; */
    padding-left:150px;
    padding-right: 152px;
    gap:60px;
    padding-bottom: 9%;
}

#title-avis{
text-align: center;
padding-top: 61px;
font-size: 40px;
font-weight: 900;
text-transform: uppercase;

}

#avis{
    display: flex;
    justify-content: space-between;
}
.profile{
    border-radius: 100%;
}

.avi{
   width:50%;
}
.avis-element{
    font-size: 16px;
    font-weight: 400;
    width:90%;
    line-height: 2;
    color: #333333;
    padding-top:2%;
}
.title-profile{
    margin-bottom:15px; 
    padding:0;
}
.p-logo{
    display: flex;
    gap: 20px;
    align-items: center;
}

.p-logo img{
    width: 32px;
    height: 32px;
    object-fit: contain; 
    padding: 2px;
}
.av-element{
    justify-content: flex-start;
display: flex;
justify-content: space-around;
gap: 20px;
}

#av{
    background-color: #F5F5F5;
    padding: 30px 60px;
}
.logo-section{
   display: flex;
   flex-direction: column;
       gap: 20px;
    padding-top: 3%;
    padding-left: 2%;
}

.p-logo p{
    font-size: 20px;
    width:79%;
}
.avantages{
    padding: 0px 5rem;
    width:50%;
    bottom:10%;
    padding-top: 30px;
    width: auto;

}

#ad-photo{
    width: 727px;
    height:472px;
    position: relative;
    bottom:3rem;
}


#cr-element{
    display: flex;
    flex-direction: row-reverse;
}



#create{
    
    background-color: #44DD8A;
    padding: 30px 60px;
}

#create-title{
    padding: 0px 10rem;
    text-align: end;
    width:50%;
    bottom:10%;
    padding-top: 30px;
    width: auto;
}

#a{
    padding-left: 5%;
}


#create-photo{
    width: 729px;
    height:487px;
    position: relative;
    bottom:3rem;
}

#apropos{
    background-color: #F5F5F5;
    display: flex;
    height: 743px;
}

#section-p{
width: 50%;
text-align: left;
 display: flex;
 flex-direction: column;
 justify-content: center;
 padding-left:103px;
 padding-right: 103px;



}

.img-section{
    background-color: #152237;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* #section-para, h2{
    font-size:40px;
    font-weight: 900;
    text-transform: uppercase;
    color: #152237;
 */


#section-p p{
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    padding-top: 20px;
 
}

#section-p h2{
font-size: 40px;
font-weight: 900;

}






#form-title{
    text-align: center;
    padding-top: 61px;
    padding-bottom: 39px;
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
}

#formulaire{
    display: flex;
    flex-direction: column;
    height :586px;
    padding-bottom:37%;
}

#name{
    width: 621px;
    height:45px;
    background-color:#152237;

}

#name::placeholder{
    color: white;
}

#email{
    width: 621px;
    height:45px;
    background-color:#152237;
}

#email::placeholder{
    color: white;
}

#message{
    width:1300px;
    height:194px;
    background-color:#152237;

}

#message::placeholder{
    color: white;
    padding:6.3px
}

#textarea{
    display: flex;
    justify-content: center;
    padding-bottom: 52px;

}

#input{
    display: flex;
    justify-content:center;
    gap:3%;
}

form{
    padding-top : 53px;
    display:flex;
    flex-direction: column;
    gap:53px;

}


#line-div {
    margin-left: auto;
    margin-right:auto;
  	width: 350px;

    display: flex;
    justify-content: center;
  	border-top: 1px solid #44dd8a;


}

input::placeholder{
    padding: 10px;
}

#message::placeholder{
    padding:16px 15px;
}

#formulaire button{
 background-color:#44DD8A;
 width:351px;
 height:45px;
}
/* footer */



#line-footer{

    width: auto;
  	height: 18px;
  background: linear-gradient(90deg, rgba(68, 221, 138, 1) 19%, rgba(21, 183, 226, 1) 100%);
}


footer{
    height:489px;
    background-color: #152237;
    color: white;
}
.footer_inside{
display: flex;
justify-content: space-around;
height:275px;
align-items: center;
padding-bottom: 20px;


}

.footer_div img{
    height:24px;
    width:24px
}


footer #line-footer{
height:1px;
background: #44DD8A;
width: 86%;
margin: auto;


}

#logo-footer{
    width: 243px;
    height:87px;
}

.footer_div{
    display: flex;
    flex-direction: column;
    gap: 21px;
}

.footer_div li{
  list-style-type: none;
    display: flex;
    gap: 20px;
    align-items: center;
    padding-top: 7px;
    width: 84%;
}

.footer_div ul{
    gap:20px
}

.footer_div #log{
    flex-direction: column;
}

.footer_inside2{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    padding: 0px 7%;

}

.footer_inside2 img{
    height:30px;
    width:30px;

}

#social{
    display:flex;
    justify-content:center;
    align-items: center;
    gap:10px;

}

h4{
    padding-top: 100px;
}


/* #ftr{
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #152237;
    color: white;
    padding-top: 70px;
    height:460px;
}  */

@media (max-width: 1024px) {
    
    html,body{
        overflow-x: hidden;
    }
    
h2{
    text-align: center;
}
h4{
    padding:0;
}


    #intro {
        font-size: 38px;
    }
    nav {
        padding: 0 2%;
 }

 #burger-menu{
   display: flex;
        padding-right: 7%;
        justify-content: center;
}

/* #button-bar{
    position: absolute;

    margin-left: 83%;
    background-color: #152237;

} */

.active {
    position: absolute;
        display: block;
        flex-direction: column;
        height: 157px;
        margin-left: 83%;
    background-color: #152237;
}


.btn-grp {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
    gap: 30px;
}

header{
    background-color: #152237;
}


    #bar {
        width: 150px;
         display: none;
    }

nav #log ,nav a{
    display: none;
}

#hero{
    background-repeat: no-repeat;
    background-position: center;
}

.avi {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.avis-client {
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 0;
    padding-bottom: 9%;

}

#avis{
    flex-direction: column;
}




#ad-photo {
   position: initial;
        width:100%;
        height: auto;
}

.all-cards{
    display: flex;
    flex-direction: column;
    gap: 64px;

}
.all-cards2{
    display: flex;
    flex-direction: column;
    gap: 64px;
    background-color: #152237;
    color: white;
}



.avantages{
    padding:0;
    width: 92%;

}


    .av-element {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
   
    #create{
        padding:0;
    }

    #create-title {
    /* padding: 0px 10rem; */
    /* text-align: end; */
    width: 50%;
    padding:0;
    padding-top: 30px;
    width: 92%;
    text-align: center;
}

    #cr-element {
        flex-direction: column-reverse;
    }

    #create-photo{
        position: initial;
        width:100%;
        height: auto;
    }

    #apropos {
        flex-direction: column;
        height: auto;
    }
    #section-p, .img-section {
        width: 100%;
        padding: 50px 5%;
    }

    .img-section {
        height: 393px;
         padding: 50px 5%;
    }

#input {
    display: flex;
    justify-content: center;
    gap: 53px;
    flex-direction: column;
    align-items: center;
}


#formulaire{
        height: 100%;
}

#name,#email,#message{
    width: 90%;
}

.footer_inside{
     flex-direction: column;
        padding: 20% 25%;
        height: auto;
        gap: 30px;
       
    }

    .footer_inside2, footer #line-footer,#log, #social {
        display:none;
    }

    #logo-footer{
        width: 100%; 
        height: auto;
    }

    .footer_div{
        display: flex;
    flex-direction: column;
    gap: 21px;
    width: 100%;
    align-items: center;
    }

    .footer_div h3 {
        padding-top: 0;
        font-size: 20px;
    }

    .footer_div li{
        width: 100%;
        padding-top: 0;
    }

    

    footer{
        height: auto;
        padding-bottom: 30px;
    }
}



